body {
    width: 100%;
    height: auto;
    font-family: 'Inconsolata', monospace; 
}

.calendar-layout {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
}

.calendar-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: right;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(00deg); 
    height: auto;
}

.calendar-title .year {
    font-size: 1.5em;
    margin: 0;
    padding: 5px 0;
    
}

.calendar-title .month {
    font-size: 2em;
    margin: 0;
    padding: 5px 0;

}

.calendar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 80%;
    margin: 0 auto;
    gap: 10px;
}

[class^="day-box-"] {
    width: 160px;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-top: 2px solid black;
    background-color: transparent;
    box-sizing: border-box;
}

[class^="day-box-"]:hover {
    transform: scale(1.05);
    background-color: #f0f0f0;
    transition: transform 0.2s ease, background-color 0.2s ease;
    z-index: 1; 
}

.date {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 35px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: white;
    font-family: Courier, monospace;
    font-weight: bold;
}


.weekday {
    font-size: 0.75em;
    margin-top: auto;
    margin-bottom: 12px;
    text-align: center;
    color: black;
}


.day-box-mon .date { background-color: #a7cde2; }
.day-box-tue .date { background-color: #8bbbd8; }
.day-box-wed .date { background-color: #6ea6cb; }
.day-box-thr .date { background-color: #4b86b4; }
.day-box-fri .date { background-color: #326ea8; }
.day-box-sat .date { background-color: #2f5d95; }
.day-box-sun .date { background-color: #1f355e; }

@media (max-width: 700px) {
    [class^="day-box-"] {
        flex: 1 0 28%;
    }

    .calendar-title .year {
        font-size: 1em;
    }

    .calendar-title .month {
        font-size: 1em;
    }
}

@media (max-width: 450px) {
    [class^="day-box-"] {
        flex: 1 0 45%;
    }

    .calendar-title .year {
        font-size: 0.5em;
    }

    .calendar-title .month {
        font-size: 0.5em;
    }
}