.mainImage {
    width: 800px;
    height: 800px;
    position: relative;
}

.inClass {
    margin-top: 20px;
    width: 800px;
    height: auto;
}

.mainImage1 {
    width: 400px;
    height: 400px;
    position: relative;
}

.imageCaption {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 800px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
}

.links {
    display: flex;
    justify-content: flex-end;
    width: 800px;
    margin-top: 40px;
    margin-bottom: 250px;
    
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 20px;
}

.picContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.picExplain {
    width: 50%;
    display: inline-block;
}

.picExplain img {
    width: 100%;
    height: auto;
}